# Demo Notebook

This notebook shows you how to write a tutorial that will show nicely on sphinx

In [ ]:
import numpy as np
import pandas as pd

In [3]:
pd.DataFrame(np.random.randn(10, 10))

,0,1,2,3,4,5,6,7,8,9
0,0.839349,0.406544,-1.297170,0.779388,1.915653,-0.547574,0.570174,-0.179821,1.333068,-1.157258
1,-1.648421,0.419744,-0.068229,0.245483,-2.497266,0.663953,0.398241,-0.327999,-0.881888,0.631206
2,1.164808,-1.161163,1.555605,1.408174,-0.920649,-0.283659,1.064874,0.074495,-0.218563,0.210933
3,-0.876975,-0.137894,-2.114987,0.482579,-0.607987,-0.713182,0.104289,0.529806,-0.235568,0.519856
4,-0.893386,0.108233,-0.328853,-0.598482,1.081556,-0.751453,0.150693,-1.247142,0.386644,0.344575
5,0.269704,-0.356616,1.382832,-1.667954,0.889115,0.482219,-1.114089,0.469203,0.423279,-0.158949
6,0.981185,0.653581,-0.010119,-0.037560,-0.832420,-0.479023,0.859884,0.372608,-0.596279,-0.061838
7,2.781937,1.977387,-2.006501,-1.684137,1.838771,-0.750735,-2.108474,-0.797763,-0.693484,1.841223
8,0.850887,1.404281,-0.884492,-1.094592,1.614753,-0.691014,-0.004384,-0.622245,0.434332,-0.149248
9,-0.315671,2.123598,-0.855864,0.360062,-1.047825,0.081982,-0.863637,1.442848,0.468624,-0.161041